.navbar{
    background-color: #f87902;
    display: flex;
    justify-content: space-between;
    color: white;
    position: fixed;
    width: 100%;
    top: 0%;
    z-index: 1030;
    font-weight: bolder;
    font-style: italic;
}
.background{
    display: flex;
    flex-direction: column;  
    align-items: center;
    justify-content: center;
    height: 300px;
    width: 100%;
    background-image: url("Bgimage.jpg");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}
.search_bar{
    border-radius: 15px;
    padding: 5px;
}
#search_icon{
    border: 2px solid white ;
    border-radius: 50px;
    padding: 8px;
    background-color:#f87902;
    color: white; 
}
.background p{
    color: white;
    text-align: center;
} 
.text{
   font-weight: bolder;
   font-size:x-large;
}
#search_icon:hover{
    background-color: white;
    color: #f87902;
}
#navbarSupportedContent{
    background-color: white;
    padding: 10px;
    position: absolute;
    top: 50px;
    right:0px;
    width: 300px;
    display: none;
}
#navbarSupportedContent ul{
    list-style: none;
    padding: 0;
    margin: 0;
    flex-direction: column;
}
#navbarSupportedContent li{
      margin-bottom: 10px;
      border-bottom: 1px solid rgb(204, 204, 204);
      background-color: white;
      padding-left: 10px;
      width: 100%;
}
#navbarSupportedContent li a{
    color: black;
    text-decoration:none;
    transition: transform 0.2s ease;
}
#navbarSupportedContent li a:hover{
    color: #ccc;
    font-weight: bolder;
}
#close-btn{
    font-size: 16px;
    color: #f87902;
  }
#navbarSupportedContent.show {
display: block;
}
#category-description {
padding: 20px;
margin-bottom: 30px;
}
.category-description-text {
font-weight: bold;
font-size: 18px;
margin-bottom: 10px;
border: 2px solid #f87902;
padding: 5px;
}
.category-images {
display: grid;
grid-template-columns: repeat(5, 3fr);
gap: 5px;
margin-top: 30px;
}
.category-images div {
display: flex;
flex-direction: column;
align-items: center;
}
.category-images img {
width: 350px;
height: 200px;
object-fit: cover;
border-radius: 10px;
cursor: pointer;
}
.category-images p {
font-weight: bold;
font-size: 18px;
margin-top: 10px;
text-align:start;
}
#categories {
padding: 20px;
text-align: start; 
}
#categories h2 {
padding-bottom: 5px;
border-bottom: 5px solid#f87902;
text-decoration-color:#f87902;
width: 200px;
}
#categories img {
background-color:ghostwhite;
display: inline-block;
display: flex;
justify-content: space-around;
margin: 12px;
transition: transform 0.2s ease; 
}
#categories img:hover {
transform: scale(1.2); 
}
#category-list li {
display: inline-block;
margin: 10px;
}
#category-list a {
text-decoration: none;
color: black;
}
#category-list a:hover {
color: #fcfbfb;
font-weight: bolder;
}
.meal-info-container {
float: left;
width: 100%;
}
.meal-description {
margin-top: 20px;
clear: both;
}
.meal-details {
float: left;
width: 25%;
margin-left: 5%;
}
.meal-details img {
width: 200px;
height: 200px;
margin: 20px;
border-radius: 10px;
}
.meal-info {
flex: 1;
margin: 20px;
}
.ingredients {
margin-top: 20px;
}
.ingredients ol {
display: grid;
grid-template-columns: repeat(3, 1fr);
gap: 20px;
justify-content: space-between;
}
.ingredients li {
margin-bottom: 10px;
}
.tag {
border: 1px solid #f87902;
padding: 5px;
margin: 5px;
border-radius: 5px;
background-color: #f0f0f0;
}
.tags ul li {
border: 1px solid #f87902;
padding: 5px;
margin-bottom: 10 px;
border-radius: 5px;
background-color: #f0f0f0;
}
.tags li {
margin-bottom: 10px;
}
.measurements {
column-count: 2;
}
.measurements p {
margin-bottom: 10px; 
}
.ingredients ol {
counter-reset: li;
list-style: none;
}
.ingredients ol li {
counter-increment: li;
}
.ingredients ol li::before {
content: counter(li);
border: 1px solid white;
padding: 2px 4px;
border-radius: 50%;
display: inline-block;
width: 30px;
text-align: center;
margin: 3px;
background-color: rgb(61, 145, 255);
}